.projectsContainer {
    /*min-height: 100vh;*/
    background-color: #1f1f20;
            /*#b07ce0;*/
}

.projectsBlock {
    flex-direction: row;
    justify-content: space-evenly;
}

.title {
    background-color: #faefef;
}

.projects {
    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media screen and (max-width: 876px){
    .projects {
        justify-content: center;
    }
}


