.projectsContainer {
    min-height: 100vh;
    background-color: #b07ce0;

}

.projectsBlock {
    flex-direction: row;
    justify-content: space-evenly;
}

.title {
    background-color: #faefef;
}

.projects {
    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}


